
<!DOCTYPE html>
<html lang="en" data-theme="bumblebee">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/happy.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LJPS</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script type="module" src="../src/main.js"></script>
  </head>
  <body>
    <div id="app1">
        <!-- Navigation Bar -->
        <div class="navbar bg-base-100">
        <div class="navbar-start">
            <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost btn-circle">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
            </label>
            <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                <li><a href="managerJobRole.html">Job Roles</a></li>
                <li><a>My Learning Journey</a></li>
                <li><a>Team Completion Status</a></li>
            </ul>
            </div>
        </div>
        <div class="navbar-center">
            <a class="btn btn-ghost normal-case text-xl">LJPS</a>
        </div>
        <div class="navbar-end">
            <a class="btn" href="staff/index.html">Log In</a>
        </div>
        </div>
        <div class="text-sm breadcrumbs px-8">
            <ul>
            <li><a>Home</a></li> 
            <li><a>Job Role</a></li> 
            <li>Engineer (Engineering Procurement)</li>
            </ul>
        </div>

        <!-- Hero Container -->
        <div class="hero px-8 py-2">
            
            <div class="auto-row-max space-y-2">
                <div id="j-info" class="space-y-2">
                    <div id="j-title" class="text-3xl font-bold grid grid-cols-2">
                        Software Engineer (Engineering Procurement)
                        <a href="editJobRole.html" class="place-self-end">
                            <button class=" inline-flex items-center justify-center w-10 h-10 mr-2 text-gray-700 transition-colors duration-150 bg-white rounded-full focus:shadow-outline hover:bg-gray-200">
                                <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20"><path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"></path></svg>
                            </button>
                        </a>
                    </div>
                    <div id="j-des" class="space-y-2 w-4/6">
                        <h2 class="font-medium">Job Role Description</h2>
                        <p>The Software Engineer / Officer (Engineering Procurement) is responsible for
                            providing administrative support for procurement activities. He/She coordinates
                            with internal teams to gather requirements for procurement, interfaces with
                            vendors for managing delivery schedules, and prepares purchase orders. He
                            maintains documents and reports schedules material purchases and deliveries
                            and performs verification of current inventory.
                            He is comfortable in engaging and interacting with internal and external
                            stakeholders, and is able to multi-task in a fast-paced work environment.</p>
                    </div>  
                </div>
                <div id="s-info" class="space-y-3">
                    <div id="skills" class="font-bold text-2xl">Skills</div>

                    <div class="flex flex-col w-full bg-gray-100" v-for="(courses, skill) in skills_and_courses">
                        <!-- <a :href=' "skill_description.php#" + skill.name'>  -->
                        <h2 class="font-medium text-xl m-5">{{skill}}</h2>
                        <div class="grid grid-cols-3 gap-4 ml-3 mb-5">
                            <!--Card #1 -->
                            <div class="card w-80 bg-base-100 shadow-xl" v-for="course in courses">
                                <!-- <a :href=' "course_description.php#" + course.name'>  -->
                                <div class="card-body">
                                    <div id="top-card" class="flex-row">
                                        <h2 class="card-title">{{course}}</h2>
                                        
                                    </div>
                                    <!-- <p>If a dog chews shoes whose shoes does he choose?</p> -->
                                    <!-- <div class="card-actions justify-end">
                                        <button class="btn btn-primary">Buy Now</button>
                                    </div> -->
                                </div>
                            </div>
                            
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<!--start of vue-->
<script>
    const app = Vue.createApp({
        data(){
            return{
                skills_and_courses:{
                        'Web Programming':['BP101: Basic programming', 'IP101: Intermediate programming', 'AP101: Advanced Programming'],
                        'Software Development' : ['SD100: Building software'],
                        'Design Thinking' : ['DT101: Think like a User', 'DT102: Think out of the box']
                    },
                skills : '',
                skill : '',
                courses : '',
                course : '',
                // jobDes : '',
            }
        },
        methods:{
          
        },
        created(){
            this.skills = Object.keys(this.skills_and_courses);
            //console.log(this.skills);
            this.courses = Object.values(this.skills_and_courses);
            //console.log(this.courses);
            
        }
    })
    const vm = app.mount('#app1');
</script>
</html>
